<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Club Sport Deportivo">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/824eac08d1.js" crossorigin="anonymous"></script>
    <title>Primer proyecto JavaScript</title>
</head>
  <body>
    <header>
      <!-- BARRA DE NAVEGACION-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
              <a href="../index.html"><img src="../Imagen/SportClub.svg" class="logo  animate__heartBeat" height="50px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active boton"  aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active boton" aria-current="page" href="../view/login.html">Iniciar Sesion</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active boton" aria-current="page" href="../view/Regitro.html">Regístrate</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active boton" aria-current="page" href="../view/contacto.html">Contactenos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active boton" aria-current="page" href="../view/Shop.html">Shop</a>
                </li>
                <button id="toggleMyModal" type="button" class="btn btn-primary boton" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                  Carrito <i class="bi bi-bag-check-fill"></i>
              </button>
              </div>
          </div>
      </nav>
  </header>

  <section id="modal" class="container"></section>

    <form action="action_page.php" method="post">
      <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
    <footer>
      <div class="container-fluid container">
          <div class="row justify-content-evenly" id="">
              <div class="col-md-4 footerIzq">
                  <p class="redes"> Seguinos en nuestras redes </p>
                  <li class="Instagram"><i class="fa-brands fa-instagram"></i> <a href="#" target="blank">Instagram</a></li>
                  <li class="Facebook"><i class="fa-brands fa-facebook"></i><a href="#" target="blank">Facebook</a></li>
                  <li class="n1"> <i class="fa-brands fa-whatsapp"></i>********** </li>
              </div>
              <div class="col-md-4  footerCen">
                  
              </div>
              <div class="col-md-4  footerDer">
                  
              </div>
          </div>
      </div>
    </footer>
    <script src="../js/modal.js"></script>
    <script src="../js/shop.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- Sweet Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>